<h1>Advanced Search</h1>

<%= form_tag recipes_path, method: "get" do %>
  <%= label_tag :search, "Search Recipes" %>
  <%= text_field_tag :recipe_name, params[:recipe_name] %>
  <%= submit_tag "Search", name: nil, class: "btn btn-success btn-small" %>
<% end %>
