<div class="container">
  <h1>About MacroMeal</h1>
  <p>
    The MacroMeal application was designed to help people find meals that meet their macronutrient requirements more quickly.
    Sometimes the hardest part about sticking to a meal plan is finding meals to fit the requirements. 
    With each passing second the temptation to just say "close enough" to a meal that doesn't fit your meal plan grows.
    I hope this helps some people meet the nutrition goals that they set more easily.
    Thanks for using the app,
      - Jon
  </p>
</div>
