<h1>MacroMeal</h1>
<p>Welcome to macromeal</p>
<%= link_to "Index of recipes", recipes_path, class: "btn btn-primary btn-small" %>
<%= link_to "Advanced Search", recipes_search_path, class: "btn btn-primary btn-small" %>
